.container{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url(../images/高饱和动态背景图.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top{
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  width: 100%;
  height: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myself{
  width: 100%;
  height: 50%;
}
.bkg{
  width: 90%;
  height: 80%;
  background-color: rgb(189,255,9);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uimg{
  /* width: 16.66%; */
  height: 80.22%;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 6%;
}
#uimg{
  /* width: 100%; */
  height: 100%;
  border-radius: 50%;
}
.uinfo{
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#icon{
  width: 20px;
  height: 20px;
}
.userlv{
  display: flex;
  color: white;
}
.rank{
  width: 27%;
  display: flex;
  justify-content: end;
  margin-right: 16px;
}
.ranks{
  width: 27%;
  display: flex;
  justify-content: end;
  color: white;
}
.point{
  margin-left: 5px;
}


.middle{
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  width: 90%;
  height: 5%;
  color: rgb(189,255,9);
  font-size: 1.2rem;
}
.aimg{
  /* width: 15.56%; */
  height: 74.4%;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 6%;
}

.bottom{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1{
  width: 30%;
  height: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.avatar2{
  width: 80%;
  height: 44.35%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205,212,224);
}
.twoavatar{
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.oneavatar{
  width: 93%;
  height: 93%;
  border-radius: 50%;
}
.threeavatar{
  width: 87%;
  height: 87%;
  border-radius: 50%;
}
.onename{
  color: rgb(189,255,9);
  /* font-size: larger; */
  font-size: 1.4rem;
}
.twoname{
  color: rgb(189,255,9);
  /* font-size: larger; */
  font-size: 1.3rem;
}
.threename{
  color: rgb(189,255,9);
  /* font-size: larger; */
  font-size: 1.2rem;
}
.onelv{
  color: white;
}
.twolv{
  color: white;
}
.threelv{
  color: white;
}
.box2{
  width: 30%;
  height: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.avatar1{
  width: 100%;
  height: 55.45%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,188,0);
}

.box3{
  width: 30%;
  height: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.avatar3{
  width: 60%;
  height: 33.27%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(160,102,0);
}

.ranklist{
  width: 100%;
  height: 95%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item{
  width: 90%;
  height: 14.09%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  width: 16.66%;
  height: 80.22%;
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 6%;
}
#userimg{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.userinfo{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#ranking{
  color: white;
}
.username{
  color: rgb(189,255,9);
}







.ranking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-top: 13%;
}
.drums{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 13%;
}
.personal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25%;
  margin-top: 13%;
}
.drumcss1{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgb(58,58,58);
  position: absolute;
  margin-top: 35%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}